.featured-posts-container {
  text-align: center;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.subtitle {
  color: #007bff;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.titles {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}
.titles-mobile {
  display: none;
}

.posts-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.post-card {
  width: 100%;
  max-width: 350px;
  overflow: hidden;
  background-color: white;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /* flex: 1 1 30%; */
}

.image-wrapper {
  position: relative;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
}

.new-badge {
  position: absolute;
  top: 20px;
  left: 25px;
  background-color: #e74040;
  color: white;
  font-size: 12px;
  padding: 6px 15px;
  border-radius: 4px;
  font-weight: bold;
}

.post-content {
  padding: 16px;
}

.tags {
  font-size: 12px;
  color: #737373;
  font-weight: lighter;
  letter-spacing: 0.9px;
  margin-bottom: 8px;
}
.tag-highlight {
  color: #8ec2f2;
  font-weight: 500;
}

.post-title {
  width: 100%;
  letter-spacing: 0.2px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: calc(var(--font-weight, 200) + 50);
  margin-bottom: 10px;
}

.descriptions {
  width: 100%;
  font-size: 16px;
  color: #737373;
  line-height: 1.5;
  font-weight: calc(var(--font-weight, 100) + 50);

  letter-spacing: 0.4px;
  margin-bottom: 16px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #737373;
  font-weight: lighter;
  letter-spacing: 0.9px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.meta span {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.meta img {
  vertical-align: middle;
  margin-right: 5px;
}

.learn-more {
  display: inline-flex;
  align-items: center;
  color: #737373;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}

.learn-more svg {
  font-size: 28px;
  margin-left: 4px;
  color: #23a6f0;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .titles {
    display: none;
  }
  .titles-mobile {
    display: block;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .posts-grid {
    flex-direction: column;
    align-items: center;
  }

  .post-card {
    max-width: 100%;
  }
  .post-content {
    padding: 40px;
    max-width: 300px;
  }

  .post-title {
    max-width: 300px;
    letter-spacing: 0.2px;
    font-size: 20px;
    font-weight: calc(var(--font-weight, 200) + 50);
  }

  .descriptions {
    max-width: 300px;
    font-size: 16px;
    font-weight: calc(var(--font-weight, 100) + 50);
  }

  .meta span {
    margin-top: 20px;
    margin-right: 0;
  }
}
