@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
}

:root {
  --font-family-sans-serif: Montserrat, sans-serif;
  --font-family-serif: Montserrat, serif;
  --body-font: Montserrat, sans-serif;

  --background-color: #ffffff;
  --body-text: #737373;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent page-wide overflow */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

p {
  color: var(--body-text);
}
